### Notebook: Time Independent Modeling

29 May 2024

Objectives:
- Make file dataframe file from AK and RY on 28 May
- Look over confusion matrix output
- Are there any better classification methods to use OR ways to maximize RandomForest?
- Utilize new package: `CatBoost`

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# ------------------------------------------------
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, mean_squared_error

# ------------------------------------------------
from catboost import CatBoostClassifier, Pool

# ------------------------------------------------

data_path = "../../main_data/locale_specific_data/"

### Update to dataframe --> New file:

In [ ]:
dog_df = pd.read_csv(data_path + "Sonoma_nontime_cleaned_ry.csv").drop(["Unnamed: 0"], axis=1)

dog_df['sex_bin'] = 1*(dog_df.sex=="Female")

size_dict = {'PUPPY':0, 'TOY':1, 'SMALL':2, 'MED':3, 'LARGE':4,'X-LRG':5}
dog_df['size_bin'] = dog_df['size'].map(size_dict)
del size_dict

dog_df['breed_pit'] = 1*(dog_df.breed.str.contains("PIT"))

dog_df['color_mix'] = 1*((dog_df.color.str.contains("/"))|(dog_df.color.str.contains("TRICOLOR"))|(dog_df.color.str.contains("BRINDLE")))

intake_dict = {'STRAY':0, 'OWNER SURRENDER':1, 'ADOPTION RETURN':2, 'CONFISCATE':3, 'TRANSFER':4,'QUARANTINE':5, "BORN HERE":6}
dog_df['intake_bin'] = dog_df['intake_type'].map(intake_dict)
del intake_dict

dog_df.head(10)

In [ ]:
dog_df.to_csv(data+path + "Sonoma_time_independent_data_akry.csv", index=False)

In [ ]:
del dog_df

### Return to time-independent modeling

In [2]:
dog_df = pd.read_csv(data_path + "Sonoma_time_independent_data_akry.csv")

dog_df.head()

,breed,color,sex,size,date_of_birth,animal_id,intake_date,outcome_date,days_in_shelter,intake_type,...,outcome_adopt,outcome_adopt_subtype,intake_age,outcome_age,pop_control,sex_bin,size_bin,breed_pit,color_mix,intake_bin
0,PIT BULL,GRAY/WHITE,Female,MED,2012-09-03,A296009,2013-08-22,2014-04-14,235,TRANSFER,...,False,none,0.97,1.61,1,1,3,1,1,4
1,PIT BULL,BLUE/WHITE,Female,MED,2012-10-09,A294143,2013-08-31,2014-04-14,226,STRAY,...,False,none,0.89,1.51,1,1,3,1,1,0
2,CAROLINA DOG/MIX,GOLD/WHITE,Male,MED,2007-09-07,A281788,2013-09-19,2014-07-30,314,STRAY,...,False,none,6.03,6.90,0,0,3,0,1,0
3,CHIHUAHUA SH,TAN,Male,TOY,2007-10-01,A297574,2013-10-01,2014-01-01,92,OWNER SURRENDER,...,False,none,6.00,6.25,1,0,1,0,0,1
4,PIT BULL,TAN/WHITE,Male,MED,2012-10-29,A298002,2013-10-08,2014-05-22,226,STRAY,...,True,realtime,0.95,1.57,1,0,3,1,1,0

In [3]:
dog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6505 entries, 0 to 6504
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   breed                  6505 non-null   object
 1   color                  6505 non-null   object
 2   sex                    6505 non-null   object
 3   size                   6505 non-null   object
 4   date_of_birth          6505 non-null   object
 5   animal_id              6505 non-null   object
 6   intake_date            6505 non-null   object
 7   outcome_date           6505 non-null   object
 8   days_in_shelter        6505 non-null   int64
 9   intake_type            6505 non-null   object
 10  intake_subtype         6505 non-null   object
 11  outcome_type           6505 non-null   object
 12  outcome_subtype        6505 non-null   object
 13  intake_condition       6505 non-null   object
 14  outcome_condition      6505 non-null   object
 15  dob_season             6505 non-null   int64
 16  intake_season          6505 non-null   int64
 17  outcome_season         6505 non-null   int64
 18  outcome_adopt          6505 non-null   bool
 19  outcome_adopt_subtype  6505 non-null   object
 20  intake_age             6505 non-null   float64
 21  outcome_age            6505 non-null   float64
 22  pop_control            6505 non-null   int64
 23  sex_bin                6505 non-null   int64
 24  size_bin               6505 non-null   int64
 25  breed_pit              6505 non-null   int64
 26  color_mix              6505 non-null   int64
 27  intake_bin             6505 non-null   int64
dtypes: bool(1), float64(2), int64(10), object(15)
memory usage: 1.3+ MB

In [4]:
dog_df.columns

Index(['breed', 'color', 'sex', 'size', 'date_of_birth', 'animal_id',
       'intake_date', 'outcome_date', 'days_in_shelter', 'intake_type',
       'intake_subtype', 'outcome_type', 'outcome_subtype', 'intake_condition',
       'outcome_condition', 'dob_season', 'intake_season', 'outcome_season',
       'outcome_adopt', 'outcome_adopt_subtype', 'intake_age', 'outcome_age',
       'pop_control', 'sex_bin', 'size_bin', 'breed_pit', 'color_mix',
       'intake_bin'],
      dtype='object')

#### Try: `CatBoost`

In [5]:
feature_list = ['sex',
                'size',
                'breed', 
                'color',
                'days_in_shelter',
                'outcome_season',
                'intake_age',
                'intake_condition',
                'intake_type'
                #, 'outcome_adopt_subtype'
                ]

dog_df[feature_list]

,sex,size,breed,color,days_in_shelter,outcome_season,intake_age,intake_condition,intake_type
0,Female,MED,PIT BULL,GRAY/WHITE,235,1,0.97,HEALTHY,TRANSFER
1,Female,MED,PIT BULL,BLUE/WHITE,226,1,0.89,HEALTHY,STRAY
2,Male,MED,CAROLINA DOG/MIX,GOLD/WHITE,314,2,6.03,UNTREATABLE,STRAY
3,Male,TOY,CHIHUAHUA SH,TAN,92,0,6.00,TREATABLE/MANAGEABLE,OWNER SURRENDER
4,Male,MED,PIT BULL,TAN/WHITE,226,1,0.95,HEALTHY,STRAY
...,...,...,...,...,...,...,...,...,...
6500,Female,PUPPY,LABRADOR RETR/MIX,BR BRINDLE,16,1,0.52,UNKNOWN,OWNER SURRENDER
6501,Female,PUPPY,LABRADOR RETR/MIX,BL BRINDLE,16,1,0.52,UNKNOWN,OWNER SURRENDER
6502,Male,SMALL,LABRADOR RETR/MIX,BLACK,0,1,0.25,UNKNOWN,STRAY
6503,Male,MED,SCHNAUZER MIN/MIX,WHITE,16,1,3.35,UNKNOWN,STRAY
6504,Female,SMALL,SCHNAUZER MIN,BLACK/WHITE,10,1,0.17,HEALTHY,STRAY

In [18]:
pd.crosstab(dog_df.outcome_adopt, dog_df.intake_condition)#, normalize=True)

intake_condition,HEALTHY,TREATABLE/MANAGEABLE,TREATABLE/REHAB,UNKNOWN,UNTREATABLE
outcome_adopt,,,,,
False,938,386,229,855,508
True,2747,216,322,302,2

In [19]:
pd.crosstab(dog_df.outcome_adopt, dog_df.intake_type)#, normalize=True)

intake_type,ADOPTION RETURN,BORN HERE,CONFISCATE,OWNER SURRENDER,QUARANTINE,STRAY,TRANSFER
outcome_adopt,,,,,,,
False,76,6,175,686,104,1813,56
True,243,0,113,600,14,2517,102

In [20]:
pd.crosstab(dog_df.outcome_adopt, dog_df.outcome_season)#, normalize=True)

outcome_season     0    1    2     3
outcome_adopt
False            790  779  457   890
True            1029  838  640  1082

In [ ]:
### BEWARE ------
### Executing this code block will take > 2 hours, even if you use GPU
### -------------

kfold = StratifiedKFold(n_splits=9, shuffle=True, random_state=1342)

scores = np.zeros((9, 15))

i = 1
for t_idx, h_idx in kfold.split(dog_df, dog_df.outcome_adopt):
    X_t = dog_df[feature_list].iloc[t_idx]
    X_t = X_t.astype(str)
    y_t = dog_df.outcome_adopt.iloc[t_idx]
    X_h = dog_df[feature_list].iloc[h_idx]
    X_h = X_h.astype(str)
    y_h = dog_df.outcome_adopt.iloc[h_idx]

    for j in range(2, 15):

        print('Iter: ', i, ', Training Adopted length: ', len(y_t == True), 'Test Adopted length: ', len(y_h == True))
        pool = Pool(X_t, y_t, cat_features=feature_list, feature_names=feature_list)
        clf  = CatBoostClassifier(iterations=1000, learning_rate=0.1, loss_function="MultiClass", depth=j, task_type="GPU").fit(pool, eval_set=(X_h, y_h), verbose=False)
        print("Tree Depth Level: ", j)
        #print(clf.tree_count_)
        scores[i, j] = accuracy_score(y_true = y_h, y_pred = clf.predict(X_h))
        #print()
        #print(confusion_matrix(y_true = y_h, y_pred = clf.predict(X_h)))
        #print()
        #print(classification_report(y_true = y_h, y_pred = clf.predict(X_h)))
        #print()
        del clf, pool   

    del X_t, y_t, X_h, y_h
    i+=1

    print('-'*50)

del i, kfold

print(scores)

Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  1 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  2 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  3 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  4 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  5 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  6 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  2
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  3
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  4
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  5
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  6
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  7
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  8
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  9
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  10
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  11
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  12
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  13
Iter:  7 , Training Adopted length:  5782 Test Adopted length:  723
Tree Depth Level:  14
--------------------------------------------------
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  2
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  3
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  4
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  5
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  6
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  7
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  8
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  9
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  10
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  11
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  12
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  13
Iter:  8 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  14
--------------------------------------------------
Iter:  9 , Training Adopted length:  5783 Test Adopted length:  722
Tree Depth Level:  2

IndexError: index 9 is out of bounds for axis 0 with size 9

In [9]:
tree_depth = 6
cv_splits  = 9

kfold  = StratifiedKFold(n_splits=cv_splits, shuffle=True, random_state=1342)
scores = pd.DataFrame(columns=['accuracy','tree_count'], index=range(cv_splits))

i = 0
for t_idx, h_idx in kfold.split(dog_df, dog_df.outcome_adopt):
    X_t = dog_df[feature_list].iloc[t_idx]
    X_t = X_t.astype(str)
    y_t = dog_df.outcome_adopt.iloc[t_idx]
    X_h = dog_df[feature_list].iloc[h_idx]
    X_h = X_h.astype(str)
    y_h = dog_df.outcome_adopt.iloc[h_idx]

    pool = Pool(X_t, y_t, cat_features=feature_list, feature_names=feature_list)

    clf  = CatBoostClassifier(iterations=1000, learning_rate=0.1, loss_function="MultiClass", depth=tree_depth, task_type="GPU").fit(pool, eval_set=(X_h, y_h), verbose=False)

    scores.loc[i, "tree_count"] = clf.tree_count_
    scores.loc[i, "accuracy"]   = accuracy_score(y_true = y_h, y_pred = clf.predict(X_h))
    print()
    print(confusion_matrix(y_true = y_h, y_pred = clf.predict(X_h)))
    print()
    print(classification_report(y_true = y_h, y_pred = clf.predict(X_h)))
    print()
    del clf, pool   
    del X_t, y_t, X_h, y_h
    i+=1
    print('-'*50)

del i, kfold

[[205 119]
 [ 62 337]]

              precision    recall  f1-score   support

       False       0.77      0.63      0.69       324
        True       0.74      0.84      0.79       399

    accuracy                           0.75       723
   macro avg       0.75      0.74      0.74       723
weighted avg       0.75      0.75      0.75       723


--------------------------------------------------

[[192 132]
 [ 56 343]]

              precision    recall  f1-score   support

       False       0.77      0.59      0.67       324
        True       0.72      0.86      0.78       399

    accuracy                           0.74       723
   macro avg       0.75      0.73      0.73       723
weighted avg       0.75      0.74      0.73       723


--------------------------------------------------

[[201 123]
 [ 39 360]]

              precision    recall  f1-score   support

       False       0.84      0.62      0.71       324
        True       0.75      0.90      0.82       399

    accuracy                           0.78       723
   macro avg       0.79      0.76      0.76       723
weighted avg       0.79      0.78      0.77       723


--------------------------------------------------

[[198 126]
 [ 48 351]]

              precision    recall  f1-score   support

       False       0.80      0.61      0.69       324
        True       0.74      0.88      0.80       399

    accuracy                           0.76       723
   macro avg       0.77      0.75      0.75       723
weighted avg       0.77      0.76      0.75       723


--------------------------------------------------

[[208 116]
 [ 57 342]]

              precision    recall  f1-score   support

       False       0.78      0.64      0.71       324
        True       0.75      0.86      0.80       399

    accuracy                           0.76       723
   macro avg       0.77      0.75      0.75       723
weighted avg       0.76      0.76      0.76       723


--------------------------------------------------

[[218 106]
 [ 56 343]]

              precision    recall  f1-score   support

       False       0.80      0.67      0.73       324
        True       0.76      0.86      0.81       399

    accuracy                           0.78       723
   macro avg       0.78      0.77      0.77       723
weighted avg       0.78      0.78      0.77       723


--------------------------------------------------

[[214 110]
 [ 43 356]]

              precision    recall  f1-score   support

       False       0.83      0.66      0.74       324
        True       0.76      0.89      0.82       399

    accuracy                           0.79       723
   macro avg       0.80      0.78      0.78       723
weighted avg       0.79      0.79      0.78       723


--------------------------------------------------

[[199 125]
 [ 50 348]]

              precision    recall  f1-score   support

       False       0.80      0.61      0.69       324
        True       0.74      0.87      0.80       398

    accuracy                           0.76       722
   macro avg       0.77      0.74      0.75       722
weighted avg       0.76      0.76      0.75       722


--------------------------------------------------

[[208 116]
 [ 52 346]]

              precision    recall  f1-score   support

       False       0.80      0.64      0.71       324
        True       0.75      0.87      0.80       398

    accuracy                           0.77       722
   macro avg       0.77      0.76      0.76       722
weighted avg       0.77      0.77      0.76       722


--------------------------------------------------

In [10]:
print(scores)

   accuracy tree_count
0  0.749654        325
1  0.739972        156
2  0.775934        183
3  0.759336         67
4  0.760719        381
5  0.775934        341
6  0.788382        225
7  0.757618        101
8  0.767313        174

In [14]:
scores.accuracy.max()

0.7883817427385892

In [21]:
feature_list = ['sex',
                'size',
                'breed', 
                'color',
                'days_in_shelter',
                #'outcome_season',
                'intake_age',
                'intake_condition',
                'intake_type'
                #, 'outcome_adopt_subtype'
                ]

In [22]:
tree_depth = 6
cv_splits  = 9

kfold  = StratifiedKFold(n_splits=cv_splits, shuffle=True, random_state=1342)
scores = pd.DataFrame(columns=['accuracy','tree_count'], index=range(cv_splits))

i = 0
for t_idx, h_idx in kfold.split(dog_df, dog_df.outcome_adopt):
    X_t = dog_df[feature_list].iloc[t_idx]
    X_t = X_t.astype(str)
    y_t = dog_df.outcome_adopt.iloc[t_idx]
    X_h = dog_df[feature_list].iloc[h_idx]
    X_h = X_h.astype(str)
    y_h = dog_df.outcome_adopt.iloc[h_idx]

    pool = Pool(X_t, y_t, cat_features=feature_list, feature_names=feature_list)

    clf  = CatBoostClassifier(iterations=1000, learning_rate=0.1, loss_function="MultiClass", depth=tree_depth, task_type="GPU").fit(pool, eval_set=(X_h, y_h), verbose=False)

    scores.loc[i, "tree_count"] = clf.tree_count_
    scores.loc[i, "accuracy"]   = accuracy_score(y_true = y_h, y_pred = clf.predict(X_h))
    print()
    print(confusion_matrix(y_true = y_h, y_pred = clf.predict(X_h)))
    print()
    print(clf.get_feature_importance(data=pool, prettified=True, verbose=True))
    #print(classification_report(y_true = y_h, y_pred = clf.predict(X_h)))
    #print()
    del clf, pool   
    del X_t, y_t, X_h, y_h
    i+=1
    print('-'*50)

del i, kfold

[[204 120]
 [ 50 349]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    44.687183
1        intake_age    14.809136
2   days_in_shelter    12.106054
3             breed     7.723649
4       intake_type     7.296947
5              size     6.716718
6             color     4.099134
7               sex     2.561180
--------------------------------------------------

[[197 127]
 [ 53 346]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    41.118999
1        intake_age    17.173321
2   days_in_shelter    14.696060
3              size     6.775665
4             breed     6.596914
5       intake_type     6.221486
6             color     4.520786
7               sex     2.896768
--------------------------------------------------

[[205 119]
 [ 43 356]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    37.949987
1   days_in_shelter    14.713360
2        intake_age    14.354113
3             breed     9.811492
4              size     7.201004
5             color     6.099925
6       intake_type     5.564257
7               sex     4.305861
--------------------------------------------------

[[200 124]
 [ 48 351]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    55.203804
1        intake_age    13.540622
2   days_in_shelter    12.077437
3       intake_type     7.109523
4              size     5.047907
5             breed     3.744738
6               sex     1.675241
7             color     1.600728
--------------------------------------------------

[[211 113]
 [ 59 340]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    34.340676
1        intake_age    15.547116
2   days_in_shelter    15.174136
3             breed    10.277297
4             color     8.079715
5              size     7.351209
6       intake_type     6.609778
7               sex     2.620074
--------------------------------------------------

[[213 111]
 [ 52 347]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    42.175100
1        intake_age    14.433468
2   days_in_shelter    13.012406
3             breed     8.627088
4              size     7.906673
5       intake_type     6.565783
6             color     4.446182
7               sex     2.833300
--------------------------------------------------

[[212 112]
 [ 45 354]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    36.478038
1        intake_age    14.815741
2   days_in_shelter    14.805515
3             breed     9.057773
4              size     7.450680
5             color     6.957163
6       intake_type     6.802062
7               sex     3.633029
--------------------------------------------------

[[206 118]
 [ 52 346]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    35.215623
1   days_in_shelter    16.009094
2        intake_age    15.521257
3             breed     9.682091
4              size     8.067882
5       intake_type     6.595753
6             color     5.572715
7               sex     3.335585
--------------------------------------------------

[[204 120]
 [ 49 349]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    30.183634
1        intake_age    16.444968
2   days_in_shelter    15.923457
3             breed    10.811010
4              size     7.676026
5             color     7.267731
6       intake_type     7.092507
7               sex     4.600668
--------------------------------------------------

In [23]:
print(scores)

   accuracy tree_count
0  0.764869        134
1  0.751037        158
2  0.775934        218
3  0.762102         71
4  0.762102        326
5   0.77455        157
6  0.782849        240
7  0.764543        204
8  0.765928        247

In [24]:
feature_list = ['sex',
                'size',
                'breed', 
                'color',
                'days_in_shelter',
                'outcome_season',
                'intake_age',
                'intake_condition'#,
                #'intake_type'
                #, 'outcome_adopt_subtype'
                ]

tree_depth = 6
cv_splits  = 9

kfold  = StratifiedKFold(n_splits=cv_splits, shuffle=True, random_state=1342)
scores = pd.DataFrame(columns=['accuracy','tree_count'], index=range(cv_splits))

i = 0
for t_idx, h_idx in kfold.split(dog_df, dog_df.outcome_adopt):
    X_t = dog_df[feature_list].iloc[t_idx]
    X_t = X_t.astype(str)
    y_t = dog_df.outcome_adopt.iloc[t_idx]
    X_h = dog_df[feature_list].iloc[h_idx]
    X_h = X_h.astype(str)
    y_h = dog_df.outcome_adopt.iloc[h_idx]

    pool = Pool(X_t, y_t, cat_features=feature_list, feature_names=feature_list)

    clf  = CatBoostClassifier(iterations=1000, learning_rate=0.1, loss_function="MultiClass", depth=tree_depth, task_type="GPU").fit(pool, eval_set=(X_h, y_h), verbose=False)

    scores.loc[i, "tree_count"] = clf.tree_count_
    scores.loc[i, "accuracy"]   = accuracy_score(y_true = y_h, y_pred = clf.predict(X_h))
    print()
    print(confusion_matrix(y_true = y_h, y_pred = clf.predict(X_h)))
    print()
    print(clf.get_feature_importance(data=pool, prettified=True, verbose=True))
    #print(classification_report(y_true = y_h, y_pred = clf.predict(X_h)))
    #print()
    del clf, pool   
    del X_t, y_t, X_h, y_h
    i+=1
    print('-'*50)

del i, kfold, feature_list, tree_depth, cv_splits

print(scores)

[[198 126]
 [ 56 343]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    37.575473
1        intake_age    15.705557
2   days_in_shelter    14.860988
3             breed    10.034758
4              size     7.842613
5             color     5.959523
6    outcome_season     4.876211
7               sex     3.144877
--------------------------------------------------

[[193 131]
 [ 68 331]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    39.890494
1        intake_age    16.730834
2   days_in_shelter    15.662778
3              size     8.170861
4             breed     6.774359
5             color     5.544953
6    outcome_season     4.377750
7               sex     2.847970
--------------------------------------------------

[[201 123]
 [ 53 346]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    30.110737
1        intake_age    14.986989
2   days_in_shelter    14.636092
3             breed    12.540691
4              size     8.639500
5             color     7.957623
6    outcome_season     7.372892
7               sex     3.755477
--------------------------------------------------

[[197 127]
 [ 53 346]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    47.364211
1        intake_age    16.902870
2   days_in_shelter    12.757131
3              size     7.170791
4             breed     6.246340
5             color     3.690449
6    outcome_season     3.567567
7               sex     2.300641
--------------------------------------------------

[[204 120]
 [ 66 333]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    41.876019
1        intake_age    16.877168
2   days_in_shelter    13.619828
3             breed     8.712648
4              size     7.217956
5             color     4.923303
6    outcome_season     4.450891
7               sex     2.322187
--------------------------------------------------

[[207 117]
 [ 58 341]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    29.630215
1        intake_age    16.999133
2   days_in_shelter    14.282188
3             breed    11.884014
4              size     9.271250
5             color     8.143275
6    outcome_season     5.838360
7               sex     3.951564
--------------------------------------------------

[[216 108]
 [ 52 347]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    31.524554
1        intake_age    16.423906
2   days_in_shelter    15.217572
3             breed    11.776755
4              size     8.688824
5             color     7.735190
6    outcome_season     4.988385
7               sex     3.644813
--------------------------------------------------

[[206 118]
 [ 54 344]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    42.086048
1        intake_age    15.374722
2   days_in_shelter    14.393022
3             breed     8.288088
4              size     7.272781
5    outcome_season     5.373554
6             color     4.139547
7               sex     3.072239
--------------------------------------------------

[[204 120]
 [ 56 342]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    30.177385
1        intake_age    16.890649
2   days_in_shelter    15.461718
3             breed    11.250359
4              size     8.269481
5             color     7.705797
6    outcome_season     6.007300
7               sex     4.237311
--------------------------------------------------
   accuracy tree_count
0  0.748271        206
1  0.724758        146
2   0.75657        356
3  0.751037        103
4  0.742739        157
5  0.757953        313
6    0.7787        326
7  0.761773        133
8  0.756233        294

In [25]:
feature_list = ['sex',
                'size',
                'breed', 
                'color',
                'days_in_shelter',
                'outcome_season',
                'intake_age',
                #'intake_condition',
                'intake_type'
                #, 'outcome_adopt_subtype'
                ]

tree_depth = 6
cv_splits  = 9

kfold  = StratifiedKFold(n_splits=cv_splits, shuffle=True, random_state=1342)
scores = pd.DataFrame(columns=['accuracy','tree_count'], index=range(cv_splits))

i = 0
for t_idx, h_idx in kfold.split(dog_df, dog_df.outcome_adopt):
    X_t = dog_df[feature_list].iloc[t_idx]
    X_t = X_t.astype(str)
    y_t = dog_df.outcome_adopt.iloc[t_idx]
    X_h = dog_df[feature_list].iloc[h_idx]
    X_h = X_h.astype(str)
    y_h = dog_df.outcome_adopt.iloc[h_idx]

    pool = Pool(X_t, y_t, cat_features=feature_list, feature_names=feature_list)

    clf  = CatBoostClassifier(iterations=1000, learning_rate=0.1, loss_function="MultiClass", depth=tree_depth, task_type="GPU").fit(pool, eval_set=(X_h, y_h), verbose=False)

    scores.loc[i, "tree_count"] = clf.tree_count_
    scores.loc[i, "accuracy"]   = accuracy_score(y_true = y_h, y_pred = clf.predict(X_h))
    print()
    print(confusion_matrix(y_true = y_h, y_pred = clf.predict(X_h)))
    print()
    print(clf.get_feature_importance(data=pool, prettified=True, verbose=True))
    #print(classification_report(y_true = y_h, y_pred = clf.predict(X_h)))
    #print()
    del clf, pool   
    del X_t, y_t, X_h, y_h
    i+=1
    print('-'*50)

del i, kfold, feature_list, tree_depth, cv_splits

print(scores)

[[188 136]
 [ 76 323]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    32.693962
1  days_in_shelter    18.016858
2      intake_type    14.430935
3             size    11.639833
4            breed    11.327696
5              sex     4.980864
6   outcome_season     4.060819
7            color     2.849033
--------------------------------------------------

[[189 135]
 [ 88 311]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    26.321440
1  days_in_shelter    19.887734
2            breed    12.860188
3             size    11.787302
4            color     9.631042
5      intake_type     9.386849
6   outcome_season     5.741136
7              sex     4.384309
--------------------------------------------------

[[193 131]
 [ 80 319]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    25.989050
1  days_in_shelter    19.199059
2            breed    15.309625
3             size    10.382023
4            color     8.940254
5      intake_type     8.500549
6   outcome_season     7.458716
7              sex     4.220723
--------------------------------------------------

[[181 143]
 [ 80 319]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    28.166284
1  days_in_shelter    18.598513
2            breed    13.359515
3             size    11.553149
4      intake_type    10.353071
5            color     8.508002
6   outcome_season     5.381796
7              sex     4.079669
--------------------------------------------------

[[202 122]
 [ 86 313]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    27.446771
1  days_in_shelter    21.709347
2      intake_type    14.647181
3             size    13.355949
4            breed    11.280652
5   outcome_season     4.620068
6            color     3.686971
7              sex     3.253062
--------------------------------------------------

[[197 127]
 [ 94 305]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    24.701937
1  days_in_shelter    18.011169
2            breed    13.632104
3             size    13.277274
4            color    10.029728
5      intake_type     9.012543
6   outcome_season     6.558368
7              sex     4.776877
--------------------------------------------------

[[197 127]
 [ 73 326]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    24.178073
1  days_in_shelter    19.338817
2            breed    15.195861
3             size    11.508129
4            color     9.843517
5      intake_type     9.047454
6   outcome_season     5.897764
7              sex     4.990385
--------------------------------------------------

[[190 134]
 [ 91 307]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    26.731308
1  days_in_shelter    20.107522
2             size    11.938184
3      intake_type    11.779191
4            breed    11.762169
5            color     8.153968
6   outcome_season     5.369555
7              sex     4.158103
--------------------------------------------------

[[192 132]
 [ 96 302]]

Used dataset leave statistics for fstr calculation
        Feature Id  Importances
0       intake_age    25.063368
1  days_in_shelter    18.524186
2            breed    14.376022
3             size    11.094789
4            color     9.899089
5      intake_type     8.890370
6   outcome_season     6.919514
7              sex     5.232662
--------------------------------------------------
   accuracy tree_count
0  0.706777         94
1  0.691563        278
2   0.70816        404
3  0.691563        283
4   0.71231        114
5  0.694329        344
6  0.723375        493
7  0.688366        221
8  0.684211        379

In [26]:
feature_list = ['sex',
                'size',
                #'breed', 
                #'color',
                'days_in_shelter',
                'outcome_season',
                'intake_age',
                'intake_condition',
                'intake_type'
                #, 'outcome_adopt_subtype'
                ]

tree_depth = 6
cv_splits  = 9

kfold  = StratifiedKFold(n_splits=cv_splits, shuffle=True, random_state=1342)
scores = pd.DataFrame(columns=['accuracy','tree_count'], index=range(cv_splits))

i = 0
for t_idx, h_idx in kfold.split(dog_df, dog_df.outcome_adopt):
    X_t = dog_df[feature_list].iloc[t_idx]
    X_t = X_t.astype(str)
    y_t = dog_df.outcome_adopt.iloc[t_idx]
    X_h = dog_df[feature_list].iloc[h_idx]
    X_h = X_h.astype(str)
    y_h = dog_df.outcome_adopt.iloc[h_idx]

    pool = Pool(X_t, y_t, cat_features=feature_list, feature_names=feature_list)

    clf  = CatBoostClassifier(iterations=1000, learning_rate=0.1, loss_function="MultiClass", depth=tree_depth, task_type="GPU").fit(pool, eval_set=(X_h, y_h), verbose=False)

    scores.loc[i, "tree_count"] = clf.tree_count_
    scores.loc[i, "accuracy"]   = accuracy_score(y_true = y_h, y_pred = clf.predict(X_h))
    print()
    print(confusion_matrix(y_true = y_h, y_pred = clf.predict(X_h)))
    print()
    print(clf.get_feature_importance(data=pool, prettified=True, verbose=True))
    #print(classification_report(y_true = y_h, y_pred = clf.predict(X_h)))
    #print()
    del clf, pool   
    del X_t, y_t, X_h, y_h
    i+=1
    print('-'*50)

del i, kfold, feature_list, tree_depth, cv_splits

print(scores)

[[204 120]
 [ 53 346]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    33.609949
1        intake_age    19.097442
2   days_in_shelter    18.064091
3              size     9.901519
4       intake_type     8.118878
5    outcome_season     7.670436
6               sex     3.537684
--------------------------------------------------

[[188 136]
 [ 54 345]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    45.705706
1        intake_age    16.933106
2   days_in_shelter    15.113082
3              size     7.775112
4       intake_type     7.263494
5    outcome_season     4.819298
6               sex     2.390202
--------------------------------------------------

[[195 129]
 [ 45 354]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    48.125656
1   days_in_shelter    14.810101
2        intake_age    13.331008
3              size     7.294784
4       intake_type     6.916093
5    outcome_season     6.287117
6               sex     3.235240
--------------------------------------------------

[[194 130]
 [ 47 352]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    59.487377
1   days_in_shelter    11.901249
2        intake_age    11.713991
3       intake_type     6.520080
4              size     5.591678
5    outcome_season     3.200966
6               sex     1.584659
--------------------------------------------------

[[208 116]
 [ 55 344]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    38.627031
1        intake_age    18.057602
2   days_in_shelter    16.442792
3              size     9.310303
4       intake_type     7.837367
5    outcome_season     6.779552
6               sex     2.945352
--------------------------------------------------

[[214 110]
 [ 62 337]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    39.713095
1        intake_age    18.133847
2   days_in_shelter    15.334520
3              size     9.519053
4       intake_type     7.057493
5    outcome_season     6.301252
6               sex     3.940741
--------------------------------------------------

[[213 111]
 [ 41 358]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    42.915695
1        intake_age    15.975415
2   days_in_shelter    15.894519
3              size     8.839461
4       intake_type     7.482439
5    outcome_season     5.509121
6               sex     3.383350
--------------------------------------------------

[[202 122]
 [ 52 346]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    46.294285
1   days_in_shelter    15.292570
2        intake_age    13.971378
3       intake_type     8.704263
4              size     7.367827
5    outcome_season     5.838346
6               sex     2.531332
--------------------------------------------------

[[200 124]
 [ 61 337]]

Used dataset leave statistics for fstr calculation
         Feature Id  Importances
0  intake_condition    28.573893
1        intake_age    21.114823
2   days_in_shelter    18.730275
3              size    10.080815
4    outcome_season     8.030112
5       intake_type     7.743853
6               sex     5.726229
--------------------------------------------------
   accuracy tree_count
0  0.760719        392
1  0.737206        128
2  0.759336        130
3  0.755187         49
4  0.763485        306
5  0.762102        242
6  0.789765        163
7  0.759003        111
8  0.743767        359

In [27]:
dog_df.columns

Index(['breed', 'color', 'sex', 'size', 'date_of_birth', 'animal_id',
       'intake_date', 'outcome_date', 'days_in_shelter', 'intake_type',
       'intake_subtype', 'outcome_type', 'outcome_subtype', 'intake_condition',
       'outcome_condition', 'dob_season', 'intake_season', 'outcome_season',
       'outcome_adopt', 'outcome_adopt_subtype', 'intake_age', 'outcome_age',
       'pop_control', 'sex_bin', 'size_bin', 'breed_pit', 'color_mix',
       'intake_bin'],
      dtype='object')